
.wrapper{
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.container-skill{
    width: 100%;
    padding: 50px 30px;
    background-color: rgba(255,255,255,0.06);
    border: 2px solid rgba(255,255,255,0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}

.container-skill *{
    font-family: "Poppins",sans-serif;
    color: #000000;
}

.skills:not(:last-child){ 
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;
    justify-content: stretch;
 
    margin-bottom: 10px;
}
.bar{
    position: relative;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.06);
    padding: 7px 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.bar div{
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #badefc;
    border: 1px solid #1c97fc;
    box-shadow: 0 0 5px rgba(28,151,252,0.6);
}

#pl-bar{
    animation: pl-fill 2s forwards;
}
@keyframes pl-fill{
    100%{
        width: 90%;
    }
}

#wb-bar{
    animation: wb-fill 2s forwards;
}
@keyframes wb-fill{
    100%{
        width: 75%;
    }
}
#dm-bar{
    animation: dm-fill 2s forwards;
}
@keyframes dm-fill {
    100%{
        width: 82%;
    }
}

#fsd-bar{
    animation: fsd-fill 2s forwards;
}
@keyframes fsd-fill{
    100%{
        width: 68%;
    }
}